# Auto detect text files and normalize line endings
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.bmp binary
*.exr binary
*.hdr binary
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

# Godot specific
*.import text eol=lf
*.tres text eol=lf
*.tscn text eol=lf
*.gdshader text eol=lf
*.gdshaderinc text eol=lf
*.glsl text eol=lf
*.gd text eol=lf
*.cfg text eol=lf
*.godot text eol=lf
